.starter-template {
  padding: 3rem 1.5rem;
}

p.text-temp {
  margin-top: 5rem;
}

.my_table {
    border: 1px solid black;
    font-size: 18px;
}

.my_table span {
    margin-left: 10px;
    margin-right: 70px;
}