{% extends 'mainiframe.html' %}

{% block content %}
    <table class="table table-bordered">
		<thead>
{#			<button type="button" class="btn btn-secondary">代办({{ no_count }})</button>#}
{#			<button type="button" class="btn btn-secondary">已办({{ has_count }})</button>#}
            <a href="?shiwu=daiban" style="margin: 0 5px;">代办({{ no_count }})&nbsp&nbsp</a>
            <a href="?shiwu=yiban" style="margin: 0 5px;">已办({{ has_count }})&nbsp&nbsp</a>
			<a>>>更多</a>
		</thead>
			<thead>
				<tr>
					<th width="5%">No</th>
					<th>标题</th>
					<th width="20%">类型</th>
					<th width="10%">发送人</th>
					<th width="20%">发送时间</th>
				</tr>
			</thead>
			<tbody>
            {% if status == 2 %}
                {% for draft in has_draft %}
				<tr>
					<td>{{ draft.id }}</td>
					<td><a href="{% url 'handle_message_draft' draft.id draft.style %}">{{ draft.title }}</a></td>
					<td>{{ draft.style }}</td>
					<td>{{ draft.draft_user }}</td>
					<td>{{ draft.add_time }}</td>
				</tr>
            {% endfor %}
                {% else %}
                {% for draft in all_draft %}
				<tr>
					<td>{{ draft.id }}</td>
					<td><a href="{% url 'handle_message_draft' draft.id draft.style %}">{{ draft.title }}</a></td>
					<td>{{ draft.style }}</td>
					<td>{{ draft.draft_user }}</td>
					<td>{{ draft.add_time }}</td>
				</tr>
            {% endfor %}
            {% endif %}
			</tbody>
		</table>
    <div class="row">
		<div class="col-md-6">
		<table class="table table-bordered">
		<thead>
			<button type="button" class="btn btn-secondary">我参与的计划(2)</button>
			<button type="button" class="btn btn-secondary">我参与的方案(2)</button>
			<button type="button" class="btn btn-secondary">>>更多</button>
		</thead>
			<tbody>
				<tr>
					<td width="80%">Tanmay</td>
					<td width="20%">Bangalore</td>
				</tr>
				<tr>
					<td width="80%">Sachin</td>
					<td width="20%">Mumbai</td>
				</tr>
			</tbody>
		</table></div>
		<div class="col-md-6">
		<table class="table table-bordered">
		<thead>
			<button type="button" class="btn btn-secondary">系统消息(2)</button>
			<button type="button" class="btn btn-secondary">>>更多</button>
		</thead>
			<tbody>
				<tr>
					<td width="80%">Tanmay</td>
					<td width="20%">Bangalore</td>
				</tr>
				<tr>
					<td width="80%">Sachin</td>
					<td width="20%">Mumbai</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
{% endblock %}