{% extends 'mainiframe.html' %}
{% load staticfiles %}

{% block title %}宣传品（资料）制作统计表{% endblock %}

{% block content %}
<form class="form-inline">
        <div class="form-group">
            <label for="timefirst">统计时段: </label>
            <input type="text" class="form-control" id="timefirst">
        </div>

        <div class="form-group">
            <label for="timelast"> - </label>
            <input type="text" class="form-control" id="timelast">
        </div>
        <div class="col-xs-3">
            <button type="submit" class="btn btn-secondary">查询</button>
            <button type="submit" class="btn btn-secondary">重置</button>
            <button type="submit" class="btn btn-secondary">导出</button>
        </div>
    </form>
    <div class="mt-5 mb-5">
        <h2 align="center">宣传品（资料）制作统计表</h2>
    </div>
    <div class="row">
        <h6 style="margin-left: 17px">统计时段:<span></span></h6>
        <h6 style="margin-left: 900px">统计人:<span></span></h6>
    </div>
    <table class="table table-bordered" style="text-align:center;">
        <thead>
        <tr>
            <th>No.</th>
            <th>负责人</th>
            <th>宣传(献血、知识)手册</th>
            <th>电梯、海报广告</th>
            <th>电视媒体视频(材料)</th>
            <th>宣传、活动(指引)单张</th>
            <th>其他</th>
            <th>总计</th>
        </tr>
        </thead>
        <tbody>
        {% for count in all_item_make_count %}
        <tr>
            <th scope="row">1</th>
            <td>{{ count.user.name }}</td>
            <td>{{ count.manual_count }}</td>
            <td>{{ count.adv_count }}</td>
            <td>{{ count.video_count }}</td>
            <td>{{ count.leaflet_count }}</td>
            <td>{{ count.other_count }}</td>
            <td>{{ count.get_sum }}</td>
        </tr>
        {% endfor %}
        </thead>
         <thead>
         <tr>
             <th>-</th>
             <th>总计</th>
             <th>{{ manual_sum }}</th>
             <th>{{ adv_sum }}</th>
             <th>{{ video_sum }}</th>
             <th>{{ leaflet_sum }}</th>
             <th>{{ other_sum }}</th>
             <th>{{ all_sum }}</th>
         </tr>
         </thead>
    </table>
{% endblock %}


{% block custom_css %}
    <style>
        th {text-align:center}
    </style>
{% endblock %}