{% extends 'mainiframe.html' %}
{% load staticfiles %}

{% block title %}
宣传物资领用统计表
{% endblock %}


{% block content %}
    <form class="form-inline">
        <div class="form-group">
            <label for="timefirst">统计时段: </label>
            <input type="text" class="form-control" id="timefirst">
        </div>

        <div class="form-group">
            <label for="timelast"> - </label>
            <input type="text" class="form-control" id="timelast">
        </div>
        <div class="col-xs-3">
            <button type="submit" class="btn btn-secondary">查询</button>
            <button type="submit" class="btn btn-secondary">重置</button>
            <button type="submit" class="btn btn-secondary">导出</button>
        </div>
    </form>
    <div class="mt-5 mb-5">
        <h2 align="center">宣传物资领用统计表</h2>
    </div>
    <div class="row">
        <h6 style="margin-left: 17px">统计时段:<span></span></h6>
        <h6 style="margin-left: 900px">统计人:<span></span></h6>
    </div>
    <table class="table table-bordered" style="text-align:center;">
        <thead>
        <tr>
            <th>No.</th>
            <th>领用人</th>
            <th>宣传手册</th>
            <th>纪念胸章</th>
            <th>样品吊坠</th>
            <th>电影票</th>
            <th>其他</th>
            <th>总计</th>
        </tr>
        </thead>
        <tbody>
        {% for count in all_item_receive_count %}
        <tr>
            <th scope="row">1</th>
            <td>{{ count.user.name }}</td>
            <td>{{ count.manual_count }}</td>
            <td>{{ count.badge_count }}</td>
            <td>{{ count.pendant_count }}</td>
            <td>{{ count.ticket_count }}</td>
            <td>{{ count.other_count }}</td>
            <td>{{ count.get_sum }}</td>
        </tr>
        {% endfor %}
        </tbody>
        <thead>
        <tr>
            <th>-</th>
            <th>总计</th>
            <th>{{ manual_sum }}</th>
            <th>{{ badge_sum }}</th>
            <th>{{ pendant_sum }}</th>
            <th>{{ ticket_sum }}</th>
            <th>{{ other_sum }}</th>
            <th>{{ all_sum }}</th>
        </tr>
        </thead>
    </table>
{% endblock %}


{% block custom_css %}
<style>
    th {text-align:center}
</style>
{% endblock %}